body { 
    background-color: #949786;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Uni Sans Heavy CAPS', san sans-serif
}

h2 {
    font-family: 'Uni Sans Thin CAPS', san sans-serif
}
#display-number {
    width: 475px;
    height: 75px;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 30px;
    background-color: #4e5242;
    color: white;
}

.calculator {
    width: 490px;
    height: 480px;
    background-color: #d4d8bb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.btns-container {
    display: flex;
}

.nums-pad {
    border: 5px solid white;
    width:280px;
    height:360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nums {
    height:90px;
    width:90px;
    background-color: #e0ebaf;
    border: 1px solid #d4d8bb;
    font-family: 'Uni Sans Heavy CAPS', sans-serif;
    font-size: 30px;
}

.nums:hover {
    box-shadow: inset 1px 3px 10px 1px #b3be7e;
}

.operator-container {
    border: 4px solid white;
    width: 190px;
}

.operator-pad {
    border: 5px solid white;
    width: 184px;
}
.operator-btn {
    height: 123px;
    width: 90px;
    background-color: #949786;
    border: 1px solid #d4d8bb;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 30px;
}
.operator-btn:hover {
    box-shadow: inset 2px 1px 10px 1px #6a6d5c;
}
.operator-btn-1 {
    height:90px;
    width:90px;
    background-color: #949786;
    border: 1px solid #d4d8bb;
    font-family: 'Uni Sans Heavy CAPS', sans-serif;
    font-size: 20px;
}
.operator-btn-1:hover {
    box-shadow: inset 2px 1px 10px 1px #6a6d5c;
}

.other-pad {
    border: 5px solid white;
    width: 180px;
}
.other-btn {
    height: 50px;
    width: 180px;
    background-color: #dd5c6b;
    border: 1px solid #d4d8bb;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 25px;
    
}
.other-btn:hover {
    box-shadow: inset 2px 1px 10px 1px #b13947;
}
