body { 
    background-color: #949786;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Uni Sans Heavy CAPS', san sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Lemon Milk', san sans-serif;
    font-weight:100;
    font-size:20px;
    margin-top:-45px;
}

#display-number {
    display:flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 5px;
    width: 455px;
    height: 75px;
    box-shadow: inset 1px 3px 15px 2px #313527;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 30px;
    background-color: #4e5242;
    color: white;
}

.calculator {
    width: 470px;
    height: 475px;
    background-color: #d4d8bb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.btns-container {
    display: flex;
}

.nums-pad {
    width:280px;
    height:360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nums {
    height:90px;
    width:90px;
    background-color: #babdb1;
    border: 1px solid #d4d8bb;
    font-family: 'Uni Sans Heavy CAPS', sans-serif;
    font-size: 30px;
}

.nums:hover {
    box-shadow: inset 1px 3px 10px 1px #a2a797;
}

.operator-container {
    width: 190px;
}

.operator-pad {
    width: 184px;
}
.operator-btn {
    height: 135.5px;
    width: 88px;
    background-color: #949786;
    border: none;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 30px;
    border: 1px solid #d4d8bb;
}
.operator-btn:hover {
    box-shadow: inset 2px 1px 10px 1px #6a6d5c;
}
.operator-btn-1 {
    height:90px;
    width:90px;
    background-color: #949786;
    border: 1px solid #d4d8bb;
    box-sizing: border-box;
    font-family: 'Uni Sans Heavy CAPS', sans-serif;
    font-size: 20px;
}
.operator-btn-1:hover {
    box-shadow: inset 2px 1px 10px 1px #6a6d5c;
}

.other-pad {
    width: 180px;
}
.other-btn {
    height: 44px;
    width: 88px;
    background-color: #db7750;
    border: none;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 25px;
    border: 1px solid #d4d8bb;
    box-sizing: border-box;
}
.other-btn:hover {
    box-shadow: inset 2px 1px 10px 1px #ac512d;
}

#equals {
    height: 45px;
    width: 180px;
    background-color: #db7750;
    border: none;
    font-family: 'Lemon Milk', sans-serif;
    font-size: 25px;
    border: 1px solid #d4d8bb;
    box-sizing: border-box;
    
}
#equals:hover {
    box-shadow: inset 2px 1px 10px 1px #ac512d;
}
